html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.stickercontainer {
  margin: 0;
  padding: 13mm 0;
  /* display: flex; */
  width: 210mm;
  height: 296mm;
  position: relative;
  /* flex-wrap: wrap; */
}

.pageyellowline {
  position: absolute;
  display: block;
  height: 13mm;
  width: 100%;
  background: #f2e500;
  bottom: 0;
}

.sticker {
  float: left;
  margin: 0 18.6mm;
  width: 67.7mm;
  height: 67.7mm;
  position: relative;
}

.yellowline {
  position: absolute;
  z-index: -1;
  left: -18.6mm;
  top: 37.9mm;
  width: 104.9mm;
  height: 30mm;
  background: #f2e500;
}

.sticker svg {
  position: absolute;
  left: 0;
  right: 0;
  margin: 5mm auto;
}

.stickerimg {
  width: 67.7mm;
  height: 67.7mm;
  position: relative;
}

body {
  margin: 0;
}

@media print {
  .stickercontainer {
    page-break-after: always;
    width: 210mm;
    height: 296mm;
  }

  @page {
    size: a4;
  }
}
