html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.stickercontainer2 {
  margin: 0;
  padding: 0;
  /* display: flex; */
  width: 180mm;
  height: 300mm;
  position: relative;
  /* flex-wrap: wrap; */
}

/* .pageyellowline2 {
  position: absolute;
  display: block;
  height: 13mm;
  width: 100%;
  background: #f2e500;
  bottom: 0;
} */

.sticker2 {
  float: left;
  margin: 0mm;
  width: 60mm;
  height: 60mm;
  position: relative;
}

/* .yellowline2 {
  position: absolute;
  z-index: -1;
  left: -18.6mm;
  top: 37.9mm;
  width: 104.9mm;
  height: 30mm;
  background: #f2e500;
} */

.sticker2 svg {
  position: absolute;
  left: 0;
  right: 0;
  margin: 5mm auto;
}

.stickerimg2 {
  width: 60mm;
  height: 60mm;
  position: relative;
}

body {
  margin: 0;
}

@media print {
  .stickercontainer2 {
    page-break-after: always;
    width: 180mm;
    height: 300mm;
  }

  @page {
    size: 180mm 300.1mm;
    margin: 0;
  }
}
